.jumbotron h1, h2 {
	color: grey;
	text-align: center;
}

.jumbotron {
	margin-bottom: 0px;
}

.headers {
  margin-left: -18em;
  margin-top: 8em;
  margin-bottom: 0px;
}

.header-background {
	height: 70vh;
	background-image: url("../images/lightbulbs3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 60%;
}

.body-background {
	background-image: url("../images/concrete_seamless.png");
	padding-top: 30px;
}

.card {
	margin-bottom: 10px;
}

.card-block {
	padding: 8px;
}

.delete-note {
	float:right;
}

.article-title {
	font-style: italic;
}

#articles {
	overflow: auto;
	height: 700px;
}